<h1>Menú de Paginación</h1>

<ul class="List-group">
    <li class="List-group-item">
        <a class="nav-link"
           asp-action="PaginarVistaDeptRegistro">
            Paginación de Registros
        </a>
    </li>
    <li class="List-group-item">
        <a class="nav-link"
           asp-action="PaginarVistaDeptGrupo">
            Grupos de Registros
        </a>
    </li>
</ul>