<h1>Inicio</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="PaginacionSimple">
            Paginacion Simple
        </a>
    </li>
    <li class="list-group-item">
        <a asp-action="PaginacionGrupo">
            Paginacion Simple
        </a>
    </li>
</ul>